.container img{
    width: 1320px;
    height: 640px;
    margin: 0%;
    left: 0%;
    top: 0%;
    position: absolute;
}
.text{
    left: 1%;
    top: 0%;
    font-size: 25px;
    position: relative;
    background-color: #000000;
    width: 115px;
    height: 35px;
    border-radius: 15px;
    color: #ff9900;
    text-align: center;
}
.b1 button{
left: 90%;
top: -12px;
    position: relative;
    background-color: #000000;
    color: #ff9900;
    text-align: center;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    border: none;
}
.b2 button{
    left: 82%;
    top: -52px;
        position: relative;
        background-color: #000000;
        color: #ff9900;
        text-align: center;
        border-radius: 15px;
        width: 80px;
        height: 40px;
        border: none;
    }
    .b3{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        position: absolute;
        color: #000000;
        left: 22%;
        top: 23%;
        font-weight: bold;
    }
    .b4{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        position: absolute;
        color: white;
        background-color: #000000;
        border-radius: 10px;
        left: 10%;
        top: 30%;
        font-weight: bold;
    }
    .b5{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        position: absolute;
        color: #000000;
        left: 13%;
        top: 40%;
        text-align: center;
       

    }
    .b6 button{
        left:27%;
        top: 225px;
            position: relative;
            background-color: #000000;
            color: #ff9900;
            text-align: center;
            border-radius: 15px;
            width: 80px;
            height: 40px;
            border: none;
        }
        .B7 img{
           position: absolute; 
           width: 8%;
           height: 21%;
           bottom: 7%;
           left: 17%;
           border-radius: 8px;

        }
        .B8 img{
            position: absolute; 
            width: 8%;
            height: 21%;
            bottom: 7%;
            left: 27%;
            border-radius: 8px;
 
         }
         .B9 img{
            position: absolute; 
            width: 8%;
            height: 21%;
            bottom: 7%;
            left: 38%;
            border-radius: 8px;
 
         }
         .B7 a{
            position: absolute;
            bottom: 1%;
           left: 17%;
           color: #000000;
           text-align: center;
           border: none;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 13px;
         }
         .B8 a{
            position: absolute;
            bottom: 1%;
           left: 28%;
           color: #000000;
           text-align: center;
           border: none;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 13px;
         }
         .B9 a{
            position: absolute;
            bottom: 1%;
           left: 39%;
           color: #000000;
           text-align: center;
           border: none;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 13px;
         }